.card {
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  overflow: hidden;
  margin-left: 0;
}

.card-title {
  margin: 0;
  padding: 1rem;
}

.card-body {
  padding: 0;

}

.card-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 1rem;
  font-size: 16px;
}

.card-description-open {
  margin: 1rem;
  font-size: 16px;
}

.card-description.expanded {
  -webkit-line-clamp: unset;
}

.read-more {
  display: block;
  margin: 1rem;
  background-color: #007aff;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.read-more:hover {
  background-color: #0051a3;
}

.rating-show {
  width: 100%;
}

.rating-hide {
  width: 0%;
}

.share-2 {}

.containerNFT {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*border: 1px solid black;*/
  margin-left: 50px;
}

.containerNFT .card {
  position: relative;
  width: 100%;
  padding: 11px;
  margin: 11px;
  border: 20px solid #fff;
}

.containerNFT .card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid transparent;
  border-top: 20px solid #0066FF;
  border-right: 20px solid #0066FF;
}

.containerNFT .card.active::before {
  border-top: 20px solid #0133FF;
  border-right: 20px solid #0133FF;
}

.containerNFT .card .content {
  position: relative;
  height: 225px;
  overflow: hidden;
}

.containerNFT .card.active .content {
  height: auto;
}

.containerNFT .card .content::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(transparent, #fff);
}

.containerNFT .card.active .content::before {
  display: none;
}

.containerNFT .card .content h3 {
  font-size: 0.75em;
  font-weight: 600;
  margin-bottom: 10px;
}

.containerNFT .card .content p {
  font-weight: 300;
}

.more {
  border-color: #0066FF;
}

.containerNFT .card .more {
  position: relative;
  padding: 10px 15px;
  background: #0066FF;
  border-radius: 8px;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 14px;
  color: #fff;
}



.containerNFT .card .more::before {
  content: 'Read more';
}

.containerNFT .card.active .more::before {
  content: 'Read less';
}




/* Base style for both buttons */
.btn-style {
  font-size: 28;
  width: 20%;
  border-color: #ffffff;
  color:#0d6efd;
  background: #ffffff;
  box-shadow:none;
  transition: box-shadow 0.3s ease;
}

/* This only triggers for the specific element being hovered */
.btn-style:hover {
  border-color: #0d6efd;
  color:#0d6efd;
  background: #0d6dfd25;
  box-shadow: 0 8px 16px #0d6dfd23;
  transition: box-shadow 0.3s ease;
}

.icon-style {
  fill: #ffffff;
}

.icon-style:hover {

  fill: #0d6efd;
}

.sep-1 {
  width: 1%;
}

.eqi-container {
  display: flex;
  justify-content: space-between;
}
.eqi-container div {
  width: 50px;
  height: 50px;
  background: rgb(25, 0, 255);
}